.categories{
 text-align: center;
 justify-content: center;
 /* display: flex; */
 margin-top: 80px;
}
.cat{
 margin-top: 60px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: xx-large;
}
.cate{
 color: var(---main-color);
 font-size: x-large;
}


.grid-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 gap: 20px;
 padding: 20px;
margin-left: 50px;
}

.icon {
 display: flex;
 justify-content: center;
 align-items: center;
}

.tx {
 text-align: center;
}
@media (max-width: 768px) {
 .grid-container {
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  /* Adjust for smaller screens */
 }
}

@media (max-width: 480px) {
 .grid-container {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* Further adjust for very small screens */
 }
}
.properties{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 margin-top: 100px;
 margin-left: 250px;
}
.butt{
 font-weight: 300;
 font-style: oblique;
 font-family: Arial, Helvetica, sans-serif;
 font: bold;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 15px;
 color: rgb(207, 170, 95);
 padding-bottom: 0px;
 border: none;
 margin-right: 60px;
}
.butt:hover{
 color: white;
 background-color: rgb(207, 170, 95);
 transition: 0.3s ease-in;
 transform: scale(1.1);
}
.place{
 margin-top: 100px;
}
@media (max-width: 768px) {
 .place {
  padding: 12px;
 }

 h2 {
  font-size: 1rem;
 }

 .butt {
  font-size: 0.9rem;
  padding: 8px 16px;
 }
 .properties{
  margin-left: 100px;
 }
}
@media (max-width:414px) {
  .place {
    padding: 12px;
   }
  
   h2 {
    font-size: 1rem;
   }
  
   .butt {
    font-size: 0.9rem;
    padding: 8px 16px;
   }
  
   .properties {
    margin-left: 100px;
   }
}