.header {
 width: 100%;
 height: 50%;
 display: flex;
 flex-direction: row;
 margin-bottom: 70px;
 background-color: var(---color-white);
 padding: 0;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 100;
}

.first {
 width: 100%;
 background: var(---main-color);
 padding: 2rem 9%;
 /* border-bottom-right-radius: 1rem;
 border-bottom-left-radius: 1rem; */
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.reach {
 display: flex;
 align-items: center;
 gap: 5rem;
 background: #fff;
 border-radius: 5rem;
 padding: .5rem 1rem;
 justify-content: center;
 margin-left: 24%;
}

/* Navbar Wrapper */
.h-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: .1rem 9%;
 background: #f5f6f6;
}

/* Inner container for navbar */
.h-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1200px;
 /* Centered width */
 margin: 10px;
}

/* Logo Styling */
.Logo {
 height: 70px;
 /* Adjust as per logo size */
 cursor: pointer;
 margin-right: 30px;
}

/* Navbar Links */
.h-menu {
 display: flex;
 gap: 20px;
 align-items: center;
}

.h-menu a {
 text-decoration: none;
 color: #333;
 /* Link color */
 font-weight: 500;
 font-size: 16px;
 transition: color 0.3s ease;
}

/* Button Styling */
.button a {
 text-decoration: none;
 color: #fff;
 background-color: #007BFF;
 padding: 10px 20px;
 /* border-radius: 25px; */
 font-size: 16px;
 font-weight: 600;
 transition: 0.3s ease;
 border: none;
}

.button:hover {
 cursor: pointer;
 transform: scale(1.1);
}

/* Hamburger Icon */
.menu-icon {
 display: none;
 /* Hidden by default */
 cursor: pointer;
 color: #333;
}

@media (min-width: 1536px) {
 .innerWidth {
  max-width: 1280px;
  margin: auto;
 }
}

@media (min-width: 640px) {
 .paddings {
  padding: 4rem;
 }
}

@media (min-width: 1280px),
(min-width: 768px) {
 .paddings {
  padding: 2rem;
 }
}

.menu-icon {
 display: none;
}

@media (max-width:768px) {
 .menu-icon {
  display: block;
 }

 .h-menu {
  z-index: 99;
  color: #131110;
  position: absolute;
  top: 10rem;
  right: 4rem;
  background-color: white;
  flex-direction: column;
  font-weight: 500;
  gap: 2rem;
  padding: 3rem;
  border-radius: 10px;
  align-items: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .05);
  transition: all 300ms ease-in;
  position: fixed;
  z-index: 100;
 }
}